In [44]:
import pandas as pd
import datetime
import psycopg2
import numpy as np
pd.set_option("display.max_columns",999)

# import warnings
# warnings.filterwarnings('ignore')

pd.options.display.float_format = '{:.2f}'.format
%matplotlib inline
import matplotlib.pyplot as plt
plt.style.use('seaborn-white')

conn = psycopg2.connect(
    host = 'lease-data.cnzawwknyviz.us-east-1.rds.amazonaws.com',
    port = 5432,
    user = 'costar',
    password = 'Costar12',
    database='costar'
    )
cursor = conn.cursor()

In [62]:
df = pd.read_csv('top100_cleaned_tagged_histograms_oct3_AC.csv' )

In [63]:
#OR-WA change the cbsa_state of the Vancouver, WA zip codes to WA

df.loc[df.zip == 98607, 'cbsa_states'] = "WA"
df.loc[df.zip == 98660, 'cbsa_states'] = "WA"
df.loc[df.zip == 98661, 'cbsa_states'] = "WA"
df.loc[df.zip == 98662, 'cbsa_states'] = "WA"
df.loc[df.zip == 98663, 'cbsa_states'] = "WA"
df.loc[df.zip == 98664, 'cbsa_states'] = "WA"
df.loc[df.zip == 98665, 'cbsa_states'] = "WA"
df.loc[df.zip == 98682, 'cbsa_states'] = "WA"
df.loc[df.zip == 98683, 'cbsa_states'] = "WA"
df.loc[df.zip == 98684, 'cbsa_states'] = "WA"
df.loc[df.zip == 98687, 'cbsa_states'] = "WA"

In [64]:
#NY-NJ change the cbsa_state of the Jersey City zip codes to NJ
#had to drop the leading "0"s from the zipcodes

df.loc[df.zip == 7030, 'cbsa_states'] = "NJ"
df.loc[df.zip == 7032, 'cbsa_states'] = "NJ"
df.loc[df.zip == 7087, 'cbsa_states'] = "NJ"
df.loc[df.zip == 7094, 'cbsa_states'] = "NJ"
df.loc[df.zip == 7302, 'cbsa_states'] = "NJ"
df.loc[df.zip == 7304, 'cbsa_states'] = "NJ"
df.loc[df.zip == 7305, 'cbsa_states'] = "NJ"
df.loc[df.zip == 7306, 'cbsa_states'] = "NJ"
df.loc[df.zip == 7307, 'cbsa_states'] = "NJ"
df.loc[df.zip == 7310, 'cbsa_states'] = "NJ"
df.loc[df.zip == 7311, 'cbsa_states'] = "NJ"

In [65]:
df.head()

,leasedeal_id,property_id,renewal,sqft_min,sqft_max,date_on_market,date_off_market,days_on_market,actual_vacancy,from_date,to_date_,lease_sign_date,lease_expiration_date,lease_term_in_months,rate_actual,estimated_rent,service_type_id,property_type_id,location_occupancy_id,rba,tenant_improvement_allowance_per_sqft,free_months,construction_year,building_rating_id,research_market_name,cbsaid,cbsa_cities,cbsa_states,submarket_name,zip,currently_occupied_fl,year_on_market,year_off_market,delete_rec,new_from_date,new_to_date,year_from,year_to,years_occupied,actual_estimated_rent,property_count,ti_ratio,new_days_on_market,new_free_months,new_ti_ratio,new_lease_term_in_months,new_renewal,new_rent_ratio,new_actual_estimated_rent
0,110498312.00,157648,0,3650.00,3650.00,2006-03-31,2006-12-31,275.00,1.00,2006-10-05,2014-04-29,2006-09-05,2011-10-05,60.00,NaN,39.20,4.00,5.00,111764312.00,3650.00,NaN,NaN,1928.00,3.00,New York City,35614.00,New York-Jersey City-White Plains,NY-NJ,Murray Hill,10016.00,N,2006.00,2006.00,N,2006-10-05,2014-04-29,2006,2014,8,NaN,76297.00,NaN,275.00,NaN,NaN,60.00,0,NaN,NaN
1,30028220.00,76048,0,NaN,NaN,NaN,NaN,NaN,NaN,1982-01-15,2001-04-15,1981-12-16,2000-04-14,219.00,NaN,NaN,11.00,5.00,30028220.00,NaN,NaN,NaN,1977.00,3.00,Kansas City,28140.00,Kansas City,MO-KS,Ward Parkway,64114.00,N,NaN,NaN,N,1982-01-15,2001-04-15,1982,2001,19,NaN,14869.00,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN
2,30187227.00,559441,0,NaN,NaN,NaN,NaN,NaN,NaN,1986-01-15,2000-03-14,1985-12-16,2000-03-14,170.00,NaN,NaN,NaN,5.00,30187227.00,NaN,NaN,NaN,1985.00,2.00,Kansas City,28140.00,Kansas City,MO-KS,I-29 Corridor,64152.00,N,NaN,NaN,N,1986-01-15,2000-03-14,1986,2000,14,NaN,14869.00,NaN,NaN,NaN,NaN,170.00,0,NaN,NaN
3,114096677.00,239837,0,1388.00,1388.00,2013-12-31,2014-03-31,90.00,1.00,2014-02-14,2015-02-12,2014-01-15,2015-02-13,12.00,NaN,18.91,7.00,5.00,122849533.00,1388.00,NaN,NaN,1972.00,2.00,Houston,26420.00,Houston-The Woodlands-Sugar Land,TX,Riverway,77024.00,N,2013.00,2014.00,N,2014-02-14,2015-02-12,2014,2015,1,NaN,36998.00,NaN,90.00,NaN,NaN,12.00,0,NaN,NaN
4,10587417.00,220914,0,NaN,NaN,NaN,NaN,NaN,NaN,2001-06-30,NaN,2001-05-01,2006-06-30,60.00,NaN,21.28,NaN,5.00,10587417.00,7200.00,NaN,NaN,1906.00,2.00,Boston,14460.00,Boston-Cambridge-Newton,MA-NH,Route 3 South,2382.00,Y,NaN,NaN,N,2001-06-30,2021-12-31,2001,2021,20,NaN,27230.00,NaN,NaN,NaN,NaN,60.00,0,NaN,NaN

In [66]:
#removed the leading space in the cbsa_states column

df.cbsa_states = df.cbsa_states.str.lstrip()

In [67]:
#keep first two characters of the multi states

df.cbsa_states = df.cbsa_states.str[:2]

In [68]:
df.head(5)

,leasedeal_id,property_id,renewal,sqft_min,sqft_max,date_on_market,date_off_market,days_on_market,actual_vacancy,from_date,to_date_,lease_sign_date,lease_expiration_date,lease_term_in_months,rate_actual,estimated_rent,service_type_id,property_type_id,location_occupancy_id,rba,tenant_improvement_allowance_per_sqft,free_months,construction_year,building_rating_id,research_market_name,cbsaid,cbsa_cities,cbsa_states,submarket_name,zip,currently_occupied_fl,year_on_market,year_off_market,delete_rec,new_from_date,new_to_date,year_from,year_to,years_occupied,actual_estimated_rent,property_count,ti_ratio,new_days_on_market,new_free_months,new_ti_ratio,new_lease_term_in_months,new_renewal,new_rent_ratio,new_actual_estimated_rent
0,110498312.00,157648,0,3650.00,3650.00,2006-03-31,2006-12-31,275.00,1.00,2006-10-05,2014-04-29,2006-09-05,2011-10-05,60.00,NaN,39.20,4.00,5.00,111764312.00,3650.00,NaN,NaN,1928.00,3.00,New York City,35614.00,New York-Jersey City-White Plains,NY,Murray Hill,10016.00,N,2006.00,2006.00,N,2006-10-05,2014-04-29,2006,2014,8,NaN,76297.00,NaN,275.00,NaN,NaN,60.00,0,NaN,NaN
1,30028220.00,76048,0,NaN,NaN,NaN,NaN,NaN,NaN,1982-01-15,2001-04-15,1981-12-16,2000-04-14,219.00,NaN,NaN,11.00,5.00,30028220.00,NaN,NaN,NaN,1977.00,3.00,Kansas City,28140.00,Kansas City,MO,Ward Parkway,64114.00,N,NaN,NaN,N,1982-01-15,2001-04-15,1982,2001,19,NaN,14869.00,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN
2,30187227.00,559441,0,NaN,NaN,NaN,NaN,NaN,NaN,1986-01-15,2000-03-14,1985-12-16,2000-03-14,170.00,NaN,NaN,NaN,5.00,30187227.00,NaN,NaN,NaN,1985.00,2.00,Kansas City,28140.00,Kansas City,MO,I-29 Corridor,64152.00,N,NaN,NaN,N,1986-01-15,2000-03-14,1986,2000,14,NaN,14869.00,NaN,NaN,NaN,NaN,170.00,0,NaN,NaN
3,114096677.00,239837,0,1388.00,1388.00,2013-12-31,2014-03-31,90.00,1.00,2014-02-14,2015-02-12,2014-01-15,2015-02-13,12.00,NaN,18.91,7.00,5.00,122849533.00,1388.00,NaN,NaN,1972.00,2.00,Houston,26420.00,Houston-The Woodlands-Sugar Land,TX,Riverway,77024.00,N,2013.00,2014.00,N,2014-02-14,2015-02-12,2014,2015,1,NaN,36998.00,NaN,90.00,NaN,NaN,12.00,0,NaN,NaN
4,10587417.00,220914,0,NaN,NaN,NaN,NaN,NaN,NaN,2001-06-30,NaN,2001-05-01,2006-06-30,60.00,NaN,21.28,NaN,5.00,10587417.00,7200.00,NaN,NaN,1906.00,2.00,Boston,14460.00,Boston-Cambridge-Newton,MA,Route 3 South,2382.00,Y,NaN,NaN,N,2001-06-30,2021-12-31,2001,2021,20,NaN,27230.00,NaN,NaN,NaN,NaN,60.00,0,NaN,NaN

In [69]:
df.to_csv('top100_cleaned_tagged_split_states.csv')