In [1]:
# data processing
import numpy as np
import pandas as pd
from datetime import date
import datetime as dt
import seaborn as sns
import matplotlib.pyplot as plt
pd.set_option("display.max_columns",999)

In [3]:
#Read renewal, days_on_market and rental files
renewal = pd.read_excel('costar_0621.xlsx', sheet_name=0)
days_on_market = pd.read_excel('costar_0621.xlsx', sheet_name=1)
rental = pd.read_excel('costar_0621.xlsx', sheet_name=2)

In [5]:
rent_geo = pd.read_excel(r'C:\Users\baxna\OneDrive\Documents\DAPT\CoStar Practicum\CoStar Data\Estimated_Rent_and_Geography.xlsx')

In [6]:
renewal.head(5)

   LeaseDealID  Renewal
0     30037095        0
1    112633161        0
2    110461287        0
3     30099273        0
4     10479006        0

In [7]:
rent_geo.head(5)

   LeaseDealID  estimatedrent  researchmarketname submarketname    zip
0    124461891      15.055131  Other Market Areas           NaN  42701
1    111152193      14.356337  Other Market Areas           NaN  59102
2    111361643      11.770529  Other Market Areas           NaN  63703
3    111098571      15.799000  Other Market Areas           NaN   3301
4    111098595      15.799000  Other Market Areas           NaN   3301

In [8]:
#Checking if there are any duplicates in renewal
renewal.LeaseDealID.duplicated().sum()

0

In [9]:
days_on_market.head(5)

,LeaseDealID,SqFtMin,SqFtMax,DateOnMarket,DateOffMarket,DaysOnMarket,ActualVacancy
0,160018621,1249,1249,2018-03-31,2018-12-31,256,1
1,112570898,1831,2177,2011-12-31,2012-03-31,61,1
2,112683000,1831,1831,2011-12-31,2012-06-30,152,1
3,113379020,1000,3088,2011-03-31,2012-03-31,306,1
4,112200030,1475,1475,2010-12-31,2011-03-31,92,1

In [10]:
#Checking if there are any duplicate LeaseDealId's in days_on_market
days_on_market.LeaseDealID.duplicated().sum()

9771

In [11]:
#Checking the duplicated rows
days_on_market[days_on_market.LeaseDealID.duplicated()]

,LeaseDealID,SqFtMin,SqFtMax,DateOnMarket,DateOffMarket,DaysOnMarket,ActualVacancy
83,122263421,1617,1617,2014-06-30,2016-03-31,634,0
87,112330867,2000,2000,2010-12-31,2011-03-31,140,1
184,165994791,2500,2500,2018-12-31,2019-09-30,245,1
185,165994791,1500,1500,2018-12-31,2019-09-30,306,1
187,113315805,985,985,2011-12-31,2012-09-30,349,1
...,...,...,...,...,...,...,...
594897,113300851,1151,1151,2011-12-31,2012-09-30,342,1
594986,112347775,4697,4697,2010-12-31,2011-06-30,212,1
595121,112155039,19870,19870,2010-09-30,2010-12-31,111,0
595200,112445545,5305,5305,2010-09-30,2011-12-31,443,0
595216,111269746,600,600,2008-06-30,2008-12-31,183,1

In [12]:
#Cheking what the difference in the LeaseDealID's that are repeated
days_on_market[days_on_market.LeaseDealID == 112347775]

,LeaseDealID,SqFtMin,SqFtMax,DateOnMarket,DateOffMarket,DaysOnMarket,ActualVacancy
594985,112347775,2399,2399,2010-09-30,2011-06-30,242,1
594986,112347775,4697,4697,2010-12-31,2011-06-30,212,1

In [44]:
#View few rows of rental
#using the new rent_geo file 8/30/21
#rental.head()

   LeaseDealID  EstimatedRent
0    112403492      39.774563
1    112451500      36.519464
2    111489470      35.613787
3    110142376      32.260847
4    112399795      40.037640

In [13]:
rental.LeaseDealID.duplicated().sum()

0

In [15]:
print('Renewal shape: ', renewal.shape)
print('days on market shape: ', days_on_market.shape)
print('rent_geo shape: ', rent_geo.shape)

Renewal shape:  (215536, 2)
days on market shape:  (595273, 7)
rent_geo shape:  (929262, 5)

In [16]:
#Read Data
LeaseData = pd.read_csv(r"LeaseDataOut.csv", encoding='ISO-8859-2', keep_default_na = False)
print('LeaseData shape: ', LeaseData.shape)

LeaseData shape:  (1048575, 18)

In [17]:
LeaseData[LeaseData.LeaseDealID == 112347775]

,PropertyID,LeaseDealID,LeaseSignDate,FromDate,LeaseExpirationDate,ToDate,RateActual,ServiceTypeID,PropertyTypeID,LocationOccupancyID,RBA,TenantImprovementAllowancePerSqFt,FreeMonths,LeaseTermInMonths,CBSAID,CBSADesc,ConstructionYear,BuildingRatingID
757274,399001,112347775,4/1/11,5/1/11,4/30/12,10/30/15,20,9,5,119242951,7096,,,12.0,19740,"Denver-Aurora-Lakewood, CO",1900,2

In [18]:
#Merging the datasets
#used the new rent & geography file 8/30/2021

lease = pd.merge(renewal,
                 days_on_market,
                 on='LeaseDealID', 
                 how='outer')

lease = pd.merge(lease,
                 rent_geo,
                 on='LeaseDealID', 
                 how='outer')

lease = pd.merge(lease,
                 LeaseData,
                 on='LeaseDealID', 
                 how='outer')

In [19]:
print('Lease full file shape: ', lease.shape)

Lease full file shape:  (1084371, 29)

In [20]:
lease.head(2)

,LeaseDealID,Renewal,SqFtMin,SqFtMax,DateOnMarket,DateOffMarket,DaysOnMarket,ActualVacancy,estimatedrent,researchmarketname,submarketname,zip,PropertyID,LeaseSignDate,FromDate,LeaseExpirationDate,ToDate,RateActual,ServiceTypeID,PropertyTypeID,LocationOccupancyID,RBA,TenantImprovementAllowancePerSqFt,FreeMonths,LeaseTermInMonths,CBSAID,CBSADesc,ConstructionYear,BuildingRatingID
0,30037095,0.0,NaN,NaN,NaT,NaT,NaN,NaN,22.134719,Northern New Jersey,Suburban Essex/Rt 280,7004.0,112015.0,2/5/05,2/5/05,2/5/10,6/30/11,,,5.0,30037095.0,18224,,,76.0,35084,"Newark, NJ-PA",1985,3.0
1,112633161,0.0,NaN,NaN,NaT,NaT,NaN,NaN,17.828079,Tampa/St Petersburg,Downtown Tampa,33602.0,380470.0,8/31/11,8/31/11,5/30/17,2/3/16,15.67,7,5.0,119962305.0,7953,,7,69.0,45300,"Tampa-St. Petersburg-Clearwater, FL",1972,3.0

In [21]:
lease.describe(include=[np.number]).T

,count,mean,std,min,25%,50%,75%,max
LeaseDealID,1084371.0,9.204084e+07,4.108202e+07,1.000002e+07,7.012912e+07,1.113987e+08,1.136029e+08,1.891746e+08
Renewal,219956.0,7.203804e-01,4.488133e-01,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
SqFtMin,595273.0,2.858757e+03,5.663346e+03,1.000000e+00,8.990000e+02,1.517000e+03,2.900000e+03,4.969840e+05
SqFtMax,595273.0,3.161060e+03,6.384606e+03,1.000000e+00,9.200000e+02,1.600000e+03,3.093000e+03,4.969840e+05
DaysOnMarket,595273.0,6.042744e+02,6.831884e+02,1.000000e+00,1.560000e+02,3.610000e+02,7.900000e+02,1.149300e+04
ActualVacancy,595273.0,8.750960e-01,3.306103e-01,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
estimatedrent,938858.0,2.280000e+01,1.096233e+01,1.559502e+00,1.628667e+01,2.023005e+01,2.589306e+01,1.222861e+03
zip,938859.0,5.344416e+04,3.130809e+04,1.001000e+03,2.741000e+04,5.371300e+04,8.501200e+04,9.980100e+04
PropertyID,1058127.0,1.271489e+06,2.236145e+06,1.000000e+00,1.787300e+05,3.816770e+05,7.982280e+05,1.160575e+07
PropertyTypeID,1058127.0,5.000000e+00,0.000000e+00,5.000000e+00,5.000000e+00,5.000000e+00,5.000000e+00,5.000000e+00
LocationOccupancyID,1058127.0,1.002599e+08,5.302068e+07,1.000002e+07,7.010878e+07,1.141176e+08,1.216321e+08,2.842046e+08
LeaseTermInMonths,1058127.0,4.800102e+01,3.983059e+01,-3.950000e+02,2.400000e+01,3.600000e+01,6.000000e+01,1.236000e+03
BuildingRatingID,1058127.0,2.903498e+00,8.034506e-01,1.000000e+00,2.000000e+00,3.000000e+00,3.000000e+00,5.000000e+00

In [22]:
lease.describe(include=[object]).T

,count,unique,top,freq
researchmarketname,938859,139,Los Angeles,66203
submarketname,916810,2557,CBD,27335
LeaseSignDate,1058127,11534,,68176
FromDate,1058127,10812,1/1/00,3006
LeaseExpirationDate,1058127,8657,12/31/07,3449
ToDate,1058127,9329,,270442
RateActual,1058127,5622,,840146
ServiceTypeID,1058127,16,7,381429
RBA,1058127,42609,,24589
TenantImprovementAllowancePerSqFt,1058127,789,,1035709
FreeMonths,1058127,44,,920416
CBSAID,1058127,915,35614,75708
CBSADesc,1058127,915,"New York-Jersey City-White Plains, NY-NJ",75708
ConstructionYear,1058127,248,1985,53080

In [23]:
lease.LeaseDealID.duplicated().sum()

9771

In [24]:
lease[lease.LeaseDealID.duplicated()]

,LeaseDealID,Renewal,SqFtMin,SqFtMax,DateOnMarket,DateOffMarket,DaysOnMarket,ActualVacancy,estimatedrent,researchmarketname,submarketname,zip,PropertyID,LeaseSignDate,FromDate,LeaseExpirationDate,ToDate,RateActual,ServiceTypeID,PropertyTypeID,LocationOccupancyID,RBA,TenantImprovementAllowancePerSqFt,FreeMonths,LeaseTermInMonths,CBSAID,CBSADesc,ConstructionYear,BuildingRatingID
35,111192088,0.0,10000.0,13359.0,2004-03-31,2008-09-30,1592.0,1.0,12.149974,Boston,Attleboro/New Bedford,2723.0,725963.0,5/12/08,7/10/08,8/31/18,8/2/10,,7,5.0,113725798.0,18454,,,120.0,39300,"Providence-Warwick, RI-MA",1900,2.0
68,112285602,0.0,3638.0,3638.0,2008-06-30,2011-06-30,1147.0,1.0,51.226597,Los Angeles,Beverly Hills,90212.0,249501.0,3/24/11,6/22/11,6/21/14,6/20/14,,7,5.0,119058062.0,6547,,,36.0,31084,"Los Angeles-Long Beach-Glendale, CA",1972,4.0
154,112037021,0.0,2003.0,2003.0,2009-12-31,2010-09-30,335.0,1.0,20.770320,Inland Empire (California),Airport Area,91730.0,197785.0,7/20/10,9/1/10,8/31/15,3/3/15,18.6,7,5.0,117367038.0,5345,,4,60.0,40140,"Riverside-San Bernardino-Ontario, CA",1991,3.0
155,112037021,0.0,1335.0,1335.0,2010-09-30,2010-09-30,62.0,1.0,20.770320,Inland Empire (California),Airport Area,91730.0,197785.0,7/20/10,9/1/10,8/31/15,3/3/15,18.6,7,5.0,117367038.0,5345,,4,60.0,40140,"Riverside-San Bernardino-Ontario, CA",1991,3.0
170,111771543,0.0,8265.0,8265.0,2006-12-31,2007-09-30,250.0,0.0,27.220506,San Francisco,South Financial District,94105.0,320908.0,11/1/09,11/1/09,11/1/12,3/20/13,,,5.0,116329274.0,28192,,,36.0,41884,San Francisco-Redwood City-South San Francisco...,1986,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
727091,111965332,NaN,1489.0,1489.0,2010-03-31,2010-06-30,15.0,0.0,15.252039,Denver,Boulder,80301.0,395587.0,3/31/10,4/1/10,3/31/12,7/18/15,12.65,7,5.0,116838808.0,3036,,,24.0,14500,"Boulder, CO",1983,3.0
727260,111754122,NaN,1440.0,1440.0,2007-12-31,2009-12-31,766.0,1.0,15.134260,Jacksonville (Florida),Butler/Baymeadows,32256.0,398882.0,11/6/09,12/6/09,12/6/12,6/1/10,,7,5.0,116291251.0,1606,,,36.0,27260,"Jacksonville, FL",1972,2.0
727318,113300851,NaN,1151.0,1151.0,2011-12-31,2012-09-30,342.0,1.0,14.188362,Denver,West Denver,80214.0,398958.0,8/8/12,9/7/12,9/6/15,,,9,5.0,121112107.0,2428,,,36.0,19740,"Denver-Aurora-Lakewood, CO",1979,2.0
727403,112347775,NaN,4697.0,4697.0,2010-12-31,2011-06-30,212.0,1.0,17.069238,Denver,LoDo,80202.0,399001.0,4/1/11,5/1/11,4/30/12,10/30/15,20,9,5.0,119242951.0,7096,,,12.0,19740,"Denver-Aurora-Lakewood, CO",1900,2.0
727618,111269746,NaN,600.0,600.0,2008-06-30,2008-12-31,183.0,1.0,22.263540,Denver,Arapahoe Rd,80122.0,399180.0,8/21/08,10/1/08,10/1/13,7/14/15,,7,5.0,113904574.0,3502,,,60.0,19740,"Denver-Aurora-Lakewood, CO",1983,3.0

In [25]:
lease_new = lease.copy()

In [26]:
lease_new['PropertyID'] = lease['PropertyID'].astype('object', copy=False)
lease_new['PropertyTypeID'] = lease['PropertyTypeID'].astype('object', copy=False)
lease_new['LocationOccupancyID'] = lease['LocationOccupancyID'].astype('object', copy=False)
lease_new['BuildingRatingID'] = lease['BuildingRatingID'].astype('object', copy=False)
lease_new['LeaseDealID'] = lease['LeaseDealID'].astype('object', copy=False)

In [27]:
#Function to change the data type from object to numeric

def change_dtype (df, field):
    df[field] = pd.to_numeric(df[field], errors='coerce')
    
    return df

lease_new = change_dtype(lease_new, 'RateActual')
lease_new = change_dtype(lease_new, 'RBA')
lease_new = change_dtype(lease_new, 'TenantImprovementAllowancePerSqFt')
lease_new = change_dtype(lease_new, 'FreeMonths')

In [28]:
#lease_new[['Renewal', 'SqFtMin', 'SqFtMax', 'DaysOnMarket', 'ActualVacancy', 'EstimatedRent', 'LeaseTermInMonths', 'RBA', 'RateActual', 'TenantImprovementAllowancePerSqFt', 'FreeMonths']].describe().T
lease_new.describe(include=[np.number]).T

,count,mean,std,min,25%,50%,75%,max
Renewal,219956.0,0.720380,0.448813,0.000000,0.00000,1.000000,1.000000,1.000000e+00
SqFtMin,595273.0,2858.757177,5663.345559,1.000000,899.00000,1517.000000,2900.000000,4.969840e+05
SqFtMax,595273.0,3161.060450,6384.606047,1.000000,920.00000,1600.000000,3093.000000,4.969840e+05
DaysOnMarket,595273.0,604.274385,683.188374,1.000000,156.00000,361.000000,790.000000,1.149300e+04
ActualVacancy,595273.0,0.875096,0.330610,0.000000,1.00000,1.000000,1.000000,1.000000e+00
estimatedrent,938858.0,22.799997,10.962331,1.559502,16.28667,20.230049,25.893056,1.222861e+03
zip,938859.0,53444.161030,31308.091663,1001.000000,27410.00000,53713.000000,85012.000000,9.980100e+04
RateActual,217981.0,22.410910,352.013267,0.000000,12.00000,16.200000,22.000000,8.400000e+04
RBA,1033538.0,5358.931725,17296.697380,0.000000,1020.00000,2000.000000,4229.000000,2.000000e+06
TenantImprovementAllowancePerSqFt,22418.0,11.569660,201.228773,-130.000000,0.00000,0.000000,0.000000,9.355000e+03
FreeMonths,137711.0,1.586416,1.784862,0.000000,1.00000,1.000000,2.000000,1.850000e+02
LeaseTermInMonths,1058127.0,48.001020,39.830588,-395.000000,24.00000,36.000000,60.000000,1.236000e+03

In [29]:
#lease[['Renewal', 'SqFtMin', 'SqFtMax', 'DaysOnMarket', 'ActualVacancy', 'EstimatedRent', 'LeaseTermInMonths', 'RBA', 'RateActual', 'TenantImprovementAllowancePerSqFt', 'FreeMonths']].describe().T
lease.describe(include=[np.number]).T

,count,mean,std,min,25%,50%,75%,max
LeaseDealID,1084371.0,9.204084e+07,4.108202e+07,1.000002e+07,7.012912e+07,1.113987e+08,1.136029e+08,1.891746e+08
Renewal,219956.0,7.203804e-01,4.488133e-01,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
SqFtMin,595273.0,2.858757e+03,5.663346e+03,1.000000e+00,8.990000e+02,1.517000e+03,2.900000e+03,4.969840e+05
SqFtMax,595273.0,3.161060e+03,6.384606e+03,1.000000e+00,9.200000e+02,1.600000e+03,3.093000e+03,4.969840e+05
DaysOnMarket,595273.0,6.042744e+02,6.831884e+02,1.000000e+00,1.560000e+02,3.610000e+02,7.900000e+02,1.149300e+04
ActualVacancy,595273.0,8.750960e-01,3.306103e-01,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
estimatedrent,938858.0,2.280000e+01,1.096233e+01,1.559502e+00,1.628667e+01,2.023005e+01,2.589306e+01,1.222861e+03
zip,938859.0,5.344416e+04,3.130809e+04,1.001000e+03,2.741000e+04,5.371300e+04,8.501200e+04,9.980100e+04
PropertyID,1058127.0,1.271489e+06,2.236145e+06,1.000000e+00,1.787300e+05,3.816770e+05,7.982280e+05,1.160575e+07
PropertyTypeID,1058127.0,5.000000e+00,0.000000e+00,5.000000e+00,5.000000e+00,5.000000e+00,5.000000e+00,5.000000e+00
LocationOccupancyID,1058127.0,1.002599e+08,5.302068e+07,1.000002e+07,7.010878e+07,1.141176e+08,1.216321e+08,2.842046e+08
LeaseTermInMonths,1058127.0,4.800102e+01,3.983059e+01,-3.950000e+02,2.400000e+01,3.600000e+01,6.000000e+01,1.236000e+03
BuildingRatingID,1058127.0,2.903498e+00,8.034506e-01,1.000000e+00,2.000000e+00,3.000000e+00,3.000000e+00,5.000000e+00

In [30]:
lease_new.describe(include=[object]).T

,count,unique,top,freq
LeaseDealID,1084371,1074600,112668627,19
researchmarketname,938859,139,Los Angeles,66203
submarketname,916810,2557,CBD,27335
PropertyID,1058127.0,176199.0,144458.0,669.0
LeaseSignDate,1058127,11534,,68176
FromDate,1058127,10812,1/1/00,3006
LeaseExpirationDate,1058127,8657,12/31/07,3449
ToDate,1058127,9329,,270442
ServiceTypeID,1058127,16,7,381429
PropertyTypeID,1058127.0,1.0,5.0,1058127.0
LocationOccupancyID,1058127.0,1048575.0,120018598.0,19.0
CBSAID,1058127,915,35614,75708
CBSADesc,1058127,915,"New York-Jersey City-White Plains, NY-NJ",75708
ConstructionYear,1058127,248,1985,53080
BuildingRatingID,1058127.0,5.0,3.0,451024.0

In [31]:
lease.describe(include=[object]).T

,count,unique,top,freq
researchmarketname,938859,139,Los Angeles,66203
submarketname,916810,2557,CBD,27335
LeaseSignDate,1058127,11534,,68176
FromDate,1058127,10812,1/1/00,3006
LeaseExpirationDate,1058127,8657,12/31/07,3449
ToDate,1058127,9329,,270442
RateActual,1058127,5622,,840146
ServiceTypeID,1058127,16,7,381429
RBA,1058127,42609,,24589
TenantImprovementAllowancePerSqFt,1058127,789,,1035709
FreeMonths,1058127,44,,920416
CBSAID,1058127,915,35614,75708
CBSADesc,1058127,915,"New York-Jersey City-White Plains, NY-NJ",75708
ConstructionYear,1058127,248,1985,53080